body {
        width: 80%;
        margin: 0px auto;
        background-image: url("imagens/wallpaper.jpg");
        font-family: Tahoma, Verdana, "Geneva CE", Lucida, Arial, Helvetica, sans-serif;
        font-size: 12px;
        
}



header {height: 40px; position: relative; }
div.cabecalho {background-color: #132b13;overflow: hidden;padding-bottom: 0px;}
div#esq {float: right;padding-right: 86px;margin-top: 15px;}
a {margin-left: 15px;padding: 8px 16px;}
#face {background-image: url("imagens/facebook_icon-icons.com_60962.png"); border-radius: 20px;background-repeat: no-repeat; background-size: 30px;background-color: #ffffff;}
#twi {background-image: url("imagens/top-10-black-and-white-twitter-logo-images.jpg"); border-radius: 20px;background-repeat: no-repeat;background-size: 30px;background-color: #ffffff;}
h1 {float: left;margin-left: 15px;color: white;padding: 6px 25px;margin-top: 6px;font-size: 12px;}



nav{height: 176px; overflow: hidden;    position: relative;}
div.titulo {background-color: #162601;position: absolute; background-color: rgba(22, 38, 1,0.5); top: 0; left: 0; right: 0;}
nav div.imagem {;background-repeat: no-repeat;float: right;}
div.imagem img {max-width: 100%;}
h2 {margin-left: 20px;margin-top: 24px; font-size: 35px;padding-right: 283px;color: white;float: left;padding-bottom: 43px;padding-top: 38px;}
li a { text-decoration: none;; color: black; padding: 5px 20px;border-bottom: 1px solid white;}


section {padding-bottom: 8px;  overflow: hidden;background-color: #bfdbb5; position: relative;}


aside {padding-top:45px; float: left;background-color: #bfdbb5;width: 30%;padding-right: 15px;box-sizing: border-box;}
aside li a {border-bottom:none;}
h3 {padding: 8px; background-color: #bb0000;; width: 141px; margin-top: 16px;margin-left: 54px;color: white; font-size: 14px;}
li {margin-bottom: 22px;}
ul {list-style-type: none; clear: both; }
li a:hover { color: #ff9800;}


article  {float: right; width: 70%; background-color: #bfdbb5;box-sizing: border-box; }
article div h3 { background-color: #254725; width: 233px;padding: 8px;color: white;padding-right: 460px;  margin-top: 45px; }
article div ul {margin-left: 15px;}
time { float: right;background-color: #feb300;padding: 8px;color: white;  margin-top: 3px;    margin-right: 3px;}
label { font-weight: bold;    border-right: 2px solid;padding-right: 4px;}
#tugao {background-image: url("imagens/tugao.png");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;}   
#eng {background-image: url("imagens/eflag.jpg");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;}
#ital {background-image: url("imagens/Flag_of_Italy.svg");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;}
 #esp {background-image: url("imagens/esflag.jpg");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;} 
 #fra {background-image: url("imagens/frflag.png");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;} 
 #lig {background-image: url("imagens/chl.jpg");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;} 
 #euro {background-image: url("imagens/euroleague.jpg");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;}
  #ger {background-image: url("imagens/290px-Flag_of_Germany.svg.png");background-size: 32px; background-repeat: no-repeat; padding-left: 44px;
    padding-top: 4px;}
    
    
    
    
footer {background-color: #ddf7d4;overflow: hidden;padding: 15px;}
div.fim {overflow: hidden;}
div.fim li {margin-bottom: 5px; float: left;}
div.fim ul {overflow: hidden;}
div.fim  a {text-decoration: none; border-bottom: none; padding-right: 0px;color: black; font-weight: 600; }
div.fim a:hover {text-decoration: underline;}
div.final p { margin-left: 125px;padding-bottom: 6px; font-size: 11px;text-align: center;}



    
@media ( min-width:710px) and (max-width:1000px)
{
     body { width:100%; margin-top:0; }   
     aside, article { width: 100%; float:none; }   
     section aside li { float:left; margin-right: 1.5em;padding-top: 6px; padding-left: 0px;}    
     li {margin-bottom: 14px;}
     article {overflow: hidden;}
     article div ul {  margin-left: 0px;}
     article li a {margin-left: 0px;font-size:11px;}      
     article div:nth-child(2n+1) {float: right;width: 45%;}
     article div:nth-child(2n) {float: left; width: 45%; }    
     article div h3 {padding-right: 100px;margin-right: 29px;text-align: center;margin-left: 15px;}
     aside li:nth-child(2n+1) {padding-top: 0px;margin-top: 8px;margin-bottom: 12px; }    
     aside ul { overflow: hidden;padding-left: 0px;padding-top: 0px; }    
     h2 {font-size: 27px;  margin-left: 40px;padding-top: 0px;}   
     nav {height: 121px;}  
     aside h3 { margin-left: 15px; width: 79px; font-size: 12px; margin-top: 0px;}
     #tugao,#euro,#lig, #fra, #esp, #ital, #tugao,#eng {border-bottom: none;}
     div.fim a {margin-left: 0px;padding-left: 0px;    padding-right: 10px;}
     div.final p {margin-left: 35px; text-align: left;}
     time { position: absolute;top: 5px; right: 0}

}

@media ( min-width:700px) and (max-width:709px)

{
     body { width:100%; margin-top:0;} 
     aside, article { width: 100%; float:none;}
     section aside li { float:left; margin-right: 1.5em;padding-top: 6px; padding-left: 0px;}
     li {margin-bottom: 10px;}
     article {overflow: hidden;}
     article div h3 {width: 197px;padding-right: 0px;margin-right: 0px;}
     article div:nth-child(2n+1) {float: right; width: 40%;}
     article div:nth-child(2n) {float: left; width: 40%; }
     article li a {margin-left: 0px;font-size: 11px; padding: 5px 8px;}
     aside li:nth-child(2n+1) {padding-top: 0px;margin-top: 8px;margin-bottom: 12px; }
     aside ul { overflow: hidden;padding-left: 0px;padding-top: 0px;}
     h2 {font-size: 27px;  margin-left: 40px;padding-top: 0px;}
     nav {height: 121px;}
     aside h3 { margin-left: 15px; width: 79px; font-size: 12px; margin-top: 0px;}
     aside li a {padding: 5px 21px;}
     #tugao,#euro,#lig, #fra, #esp, #ital, #tugao,#eng {border-bottom: none;}
     div.fim a {margin-left: 0px;padding-left: 0px;    padding-right: 10px;}
     div.final p {margin-left: 38px; text-align: left;}
     time { position: absolute;top: 5px; right: 0}
}


@media  ( min-width: 518px ) and (max-width:699px)
{
 
        body {width: 100%; margin-top: 0;}   
        nav {height: 121px;}
        aside, article { width: 100%; }
        section aside li { float:left; margin-right: 1.5em;padding-top: 6px; padding-left: 0px;}
        section aside ul {padding-left: 0px;}
        aside h3 { margin-left: 15px; width: 79px; font-size: 12px; margin-top: 0px;}
        article div ul {margin-left: 0px;}
        article div li {margin-bottom: 15px;}
        time { position: absolute;top: 5px; right: 0}
        h3 {margin-left: 0px;}
        div.fim a {margin-left: 0px;}
        div.final p {margin-left: 39px; text-align: left;}
        div.fim a {margin-left: 0px;padding-left: 0px;    padding-right: 10px;}
   
 
}

@media ( min-width:433px) and (max-width:518px)

{
        body {width: 100%; margin-top: 0;}        
        div#esq {position: absolute;left: 0;top: 0} 
        header {height: 38px;}
        nav {height: 121px;}
        h1 {margin-left: 100px;color: white;padding: 6px 25px;margin-top: 6px;font-size: 11px;}
        aside, article { width: 100%; }
        section aside ul {margin-left: 0px; padding-left: 0px;}
        section aside li { float:left; margin-right: 1.5em;padding-top: 6px; padding-left: 0px;}
        aside h3 { margin-left: 15px; width: 79px; font-size: 12px; margin-top: 0px;}
        article div ul {margin-left: 0px;padding-left: 0px;}
        nav {height: 121px;}
        article div li {margin-bottom: 15px;}
        time { position: absolute;top: 5px; right: 0}
        h2 {margin-left: 40px; margin-top: 0px;    padding-top: 23px;font-size: 25px;}
        h3 {margin-left: 0px;}
        div.fim ul {padding-left: 10px;}
        div.final p {margin-left: 10px; text-align: left;}
        div.fim a {margin-left: 0px;padding-left: 0px;    padding-right: 10px;}
   
 
 
}


@media (max-width:432px)
{
        body {width: 100%; margin-top: 0;}       
        div#esq {position: absolute;left: 0;top: 0}
        header {height: 38px;}
        nav {height: 90px;}
        #face {background-size: 25px;margin-right: 0px;padding-right: 10px;padding-top: 5px;padding-top: 5px;margin-left: 2px;}
        #twi {background-size: 25px;padding-right: 10px;padding-top: 5px;padding-top: 5px;margin-left: 8px;}
        h1 {margin-left: 50px;color: white;padding: 6px 25px;margin-top: 5px;font-size: 11px;}
        aside, article { width: 100%; }
        section aside ul {margin-left: 0px; padding-left: 0px;}
        section aside li { float:left; margin-right: 1.5em;padding-top: 6px; padding-left: 0px;}
        aside h3 { margin-left: 15px; width: 79px; font-size: 12px; margin-top: 0px;}
        article div ul {margin-left: 15px;padding-left: 0px;}
        time { position: absolute;top: 5px; right: 0}
        h2 {margin-left: 40px; margin-top: 0px;  padding-top: 23px;font-size: 25px;}
        article div h3 {margin-left: 0px;padding-left: 15px;}
        div.fim ul {padding-left: 10px;}
        div.final p {margin-left: 10px; text-align: left;}
        div.fim a {margin-left: 0px;padding-left: 0px;    padding-right: 10px;}
}